.board {
  width: 90%;
  margin: 0 auto;
  overflow: auto;
  border: 2px solid rgba(0, 0, 0, 0.15); }
  .board__tile {
    position: relative;
    float: left;
    width: 33.33333%;
    padding-top: 33.33333%;
    border: 2px solid rgba(0, 0, 0, 0.15);
    background-color: white;
    -webkit-transition: background-color 200ms linear, border 200ms linear;
    -o-transition: background-color 200ms linear, border 200ms linear;
    transition: background-color 200ms linear, border 200ms linear;
    cursor: pointer; }
    .board__tile--selected {
      pointer-events: none; }
    .board__tile:hover {
      background-color: rgba(136, 136, 136, 0.025);
      border: 2px solid rgba(0, 0, 0, 0.35); }
    .board__tile::after {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      font-family: 'Arial', sans-serif;
      font-size: 6rem;
      text-align: center;
      vertical-align: middle;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
    .board__tile--x {
      background-color: #ff7be2; }
      .board__tile--x::after {
        content: 'X'; }
    .board__tile--o {
      background-color: #66cfce; }
      .board__tile--o::after {
        content: 'O'; }

@media screen and (max-width: 767px) {
  .board__tile::after {
    font-size: 5em; } }

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .board__tile::after {
    font-size: 6em; } }

@media screen and (min-width: 1024px) {
  .board__tile::after {
    font-size: 8em; } }

.interface {
  padding: 10px;
  text-align: center; }
  .interface__copy {
    margin-bottom: 10px;
    font-size: 24px;
    font-family: Arial, sans-serif;
    font-weight: bold; }
  .interface__button-wrapper {
    display: inline-block;
    width: 50%; }
  .interface__button {
    max-width: 300px;
    margin: 15px auto; }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7); }
  .overlay--visible {
    display: block; }

.modal {
  position: absolute;
  top: 15%;
  left: 50%;
  z-index: 200;
  display: table;
  width: 50%;
  height: auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-box-shadow: 1px 3px 40px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 1px 3px 40px 20px rgba(0, 0, 0, 0.15); }
  .modal__content {
    display: table-cell;
    vertical-align: middle; }
  .modal__copy {
    margin: 0 auto 35px;
    padding: 0 0.5em;
    font-size: 1.55rem;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    line-height: 38px; }
  .modal__input-wrapper {
    text-align: center; }
  .modal__input {
    width: 75%;
    margin-bottom: 20px;
    padding: 10px 20px;
    border: 1px solid #000000;
    border-radius: 5px; }
  .modal__button {
    margin: 0 auto 15px; }
  .modal__button {
    cursor: pointer; }
  .modal--visible {
    display: table; }

@media screen and (max-width: 767px) {
  .modal {
    min-width: 95%; } }

@media screen and (min-width: 768px) {
  .modal {
    max-width: 450px;
    width: 100%; } }

.hidden {
  display: none; }

.button {
  display: block;
  padding: 10px 20px;
  width: 75%;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  background-color: #fd9e30;
  cursor: pointer; }
  .button:hover {
    background-color: #f88602; }

body {
  background-color: whitesmoke; }

.app__content {
  margin: 0 auto;
  max-width: 70%; }

@media screen and (max-width: 767px) {
  .app__content {
    max-width: 90%; } }

@media screen and (min-width: 768px) {
  .app__content {
    max-width: 824px; } }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

/*# sourceMappingURL=app.css.map*/