.block {
  background-color: blue;
  letter-spacing: 0.06em;
  top: 0;
  bottom: 0;

  &__element {
    font-size: 16px;

    &--modifier {
      border: 1px solid red;
    }
  }
}

body {
  background-color: red;
}