@import "board";
@import "interface";
@import "overlay";
@import "modal";

// Reset box-sizing
* {
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
}

// Global classes
.hidden {
  display: none;
}
