.board {
  width: 85%;
  min-width: 300px;

  margin: 0 auto;
  overflow: auto;

  border: 2px solid rgba(0, 0, 0, 0.15);

  &__tile {
    position: relative;
    float: left;

    width: (100% / 3);
    padding-top: (100% / 3);

    border: 2px solid rgba(0, 0, 0, 0.15);
    background-color: white;

    transition: background-color 200ms linear, border 200ms linear;

    cursor: pointer;

    &--selected {
      pointer-events: none;
    }

    &:hover {
      background-color: rgba(136, 136, 136, 0.025);
      border: 2px solid rgba(0, 0, 0, 0.35);
    }

    &::after {
      position: absolute;
      top: 50%;
      left: 50%;

      width: 100%;

      font-family: 'Arial', sans-serif;
      font-size: 6rem;
      text-align: center;

      vertical-align: middle;

      transform: translate(-50%, -50%);
    }

    &--x {
      background-color: #ff7be2;

      &::after {
        content: 'X';
      }
    }

    &--o {
      background-color: #66cfce;

      &::after {
        content: 'O';
      }
    }
  }
}