.interface {
  padding: 10px;

  text-align: center;

  &__copy {
    margin-bottom: 10px;

    font-size: 24px;
    font-family: Arial, sans-serif;
    font-weight: bold;
  }

  &__button-wrapper {
    display: inline-block;
    width: 50%;
  }

  &__button {
    max-width: 300px;
    margin: 15px auto;
  }
}